/* GLOBAL SETTINGS */
:root {
    /* Color styles */
    --light-mode-text: rgba(4, 3, 22, 1);
    --light-mode-background: rgba(251, 251, 249, 1);
    --light-mode-primary: rgba(39, 192, 54, 1);
    --light-mode-secondary: rgba(187, 238, 190, 1);
    --light-mode-accent: rgba(27, 126, 35, 1);
    --test-green: rgba(92, 209, 94, 1);
    --test-purple: rgba(188, 161, 254, 1);

    --experience-card-white: #FBFBF9;
    --experience-card-silver: #F1F2FA;

    /* Effect styles */
    --background-gradient-blur-shadows: ;
    --background-gradient-blur-blur: blur(200px);

    /* Sizes */
    --main-side-padding: 9.5rem;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--light-mode-background);
}

main {
    margin: 0 var(--main-side-padding);
}

@media (max-width: 60rem) {
    :root{
        --main-side-padding: 4.75rem;
    }
}

@media (max-width: 37.5rem) {
    :root{
        --main-side-padding: 3.25rem;
    }
}

/* REUSABLE COMPONENTS */

.button {
    display: flex;
    padding: 0.25rem 1.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 3.25rem;
    border: 0.125rem solid #000;
    background-color: var(--light-mode-background);
    text-decoration: none;
}

.button--large{
    padding: 0.5rem 2.25rem;
}

/* NAVBAR */

nav {
    position: absolute;
    top: 0;
    display: flex;
    height: 4.75rem;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 var(--main-side-padding);
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.nav-logo {
    display: flex;
    width: 7rem;
    height: 7rem;
    justify-content: center;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-content__menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.nav-content__menu-container__text {}

.nav-content__menu-container__button {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
}

.nav-content__contact-button {}

/* SIDEBAR */

#side-bar{
    padding: 1.5rem;
    position: fixed;
    top: 50%;
    right: -100%;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1.5rem 0 0 1.5rem;
    background: linear-gradient(332deg, #FFF 4.75%, #FBFBF9 92.55%);
    box-shadow: -5px 5px 20px 0px rgba(0, 0, 0, 0.15);
    transform: translate(0, -50%);
    z-index: 15;
    transition: right 0.3s ease;
}

#side-bar.side-bar--show {
    display: flex;
    right: 0;
}

.side-bar__option{
    padding: 0.25rem 0;
    text-decoration: none;
}

/* HERO SECTION */

#hero-section{
    height: 100vh;
    min-height: 40rem;
    max-height: 60rem;
    position: relative;
}

.hero-section__name{
    position: absolute;
    top: 9.5rem;
    right: 0;
}

.hero-section__name__first-name{
    position: relative;
    right: 4rem;
}

.hero-section__name__surname{
    float: right;
}

.hero-section__text{
    position: absolute;
    width: 37.5rem;
    bottom: 8rem;
}

@media (max-width: 45rem) {
    #hero-section{
        height: auto;
        max-height: auto;
        padding: 6.5rem 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 4.75rem;
    }

    .hero-section__name{
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    
    .hero-section__name__surname{
        float: unset;
    }
    
    .hero-section__text{
        width: auto;
        position: static;
    }

    .title{
        font-size: 2rem;
    }
}

/* EXPERIENCE SECTION */

#experience-section{
    margin-bottom: 8rem;
}

#experience-section .section-title {
    margin-bottom: 4rem;
}

.experience-section__timeline{
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-auto-rows: auto;
}

.experience-section__timeline__line{
    width: 0.375rem;
    margin: 4rem 0;
    grid-row: 1 / span 100;
    grid-column: 2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4rem;
    background-color: var(--light-mode-text);
}

.experience-section__timeline__line__dot{
    width: 1rem;
    aspect-ratio: 1;
    align-self: center;
    justify-self: center;
    border-radius: 100%;
    background-color: var(--light-mode-text);
}

.experience-card{
    width: 20rem;
    padding: 1.25rem;
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
}

.experience-card--left{
    align-items: flex-end;
    justify-self: end;
    grid-column: 1;
    background: linear-gradient(280deg, var(--experience-card-white) 0.54%, var(--experience-card-silver) 99.46%);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.experience-card--right{
    align-items: flex-start;
    grid-column: 3;
    background: linear-gradient(99deg, var(--experience-card-white) 0.54%, var(--experience-card-silver) 99.46%);
    box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.experience-card__date{
    display: inline-block;
    margin-bottom: 0.25rem;
}

.experience-card__text{

}

.section-title{

}

@media (max-width: 65rem) {
    .experience-card{
        width: 15rem;
    }
    .experience-card__text.text-2{
        font-size: 1rem;
    }
}

@media (max-width: 47.5rem) {
    .experience-section__timeline{
        grid-template-columns: 2rem auto;
        grid-auto-rows: auto;
        row-gap: 3rem;
        justify-content: center;
    }

    .experience-section__timeline__line{
        grid-row: 1 / span 4;
        grid-column: 1;
    }

    .experience-section__timeline__empty-cell{
        display: none;
    }

    .experience-card{
        width: 15rem;
        padding: 1.25rem;
        gap: 0.125rem;
        display: flex;
        flex-direction: column;
        border-radius: 1.25rem;
    }

    .experience-card--left{
        align-items: flex-end;
        justify-self: auto;
        grid-column: 2;
    }
    
    .experience-card--right{
        align-items: flex-start;
        grid-column: 2;
    }
}

/* WORK SECTION */

#work-section{
    margin-bottom: 8rem;
}

#work-section .section-title{
    margin-bottom: 2rem;
}

.work-section__columns{
    display: flex;
    flex-wrap: wrap;
}

.work-section__columns__column{
    max-width: calc(50% - 4.75rem);
    flex: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-section__columns__column div:last-child{
    margin-bottom: 0;
}

.work-section__columns__column-1{
    margin-right: 4.75rem;
}

.work-section__columns__column-2{
    margin-left: 4.75rem;
}

.work-section__columns__column-1__text{
    margin-bottom: 4.75rem;
}

.project-card{
    max-width: 25rem;
    margin-bottom: 9.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    background: #FFF;
}

.project-card--left{
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.10), -5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.project-card--right{
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.10), 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.project-card__img{
    width: 100%;
    margin-bottom: 1.25rem;
    border-radius: 0.75rem 0.75rem 0 0;
}

.project-card__content{
    padding: 0 2rem 2rem 2rem;
}

.project-card__content__title-container{
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card__content__description{
    margin-bottom: 1.75rem;
}

.project-card__content__bottom-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-card__content__bottom-row__tag-container{
    display: flex;
    gap: 0.75rem;
}

.project-card__content__bottom-row__tag-container__tag{
    padding: 0.125rem 0.5rem;
    border-radius: 0.5rem;
    border: 0.125rem solid #000;
}

.project-card__content__bottom-row__link__img{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}

.project-card__content__bottom-row__link__img{
    width: 100%;
}


@media (max-width: 65rem) {
    .work-section__columns__column {
        max-width: 100%;
        margin:0;
        flex: 100%
    }
    
    .work-section__columns__column-1{
        margin-bottom: 4rem;
    }

    .work-section__columns__column-1__text{
        margin-bottom: 2rem;
    }

    .project-card{
        max-width: 25rem;
        margin-bottom: 4rem;
    }
}

/* SKILLS SECTION */
#skills-section{
    container-type: inline-size;
    container-name: skill-container;
    margin-bottom: 2rem;
}

#skills-section .section-title{
    margin-bottom: 4.75rem;
}

.skills-section__skill-container{
    margin: 0 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(7.5rem, auto));
    grid-auto-rows: auto;
    gap: 1.75rem;
    justify-items: center;
}

.skill-card{
    width: 100%;
    max-width: 7.5rem;
    aspect-ratio: 1;
    padding: 0 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.75rem;
    background-color: #ffffff;
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.10), 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}  

.skill-card__img{
    width: 100%;
}

.skill-card__description{
    margin-top: 0.5rem;
    white-space: nowrap;
}


@container skill-container (max-width: 50rem) {
    .skills-section__skill-container {
        margin: 0 5%;
    }
}

@media (max-width: 47.5rem) {
    .skills-section__skill-container {
        grid-template-columns: repeat(auto-fill, minmax(5rem, auto));
        margin: 0;
        gap: 1rem;
    }

    .skill-card{
        width: 100%;
        max-width: 5rem;
        padding: 0 1.5rem;
        border-radius: 1rem;
    }

    .skill-card__description.heading-4{
        font-size: 0.75rem;
    }
}

/* CONTACT SECTION */

#contact-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-section .section-title {
    margin-bottom: 3.75rem;
}

.contact-section__wrapper{

}

.contact-section__wrapper__email-container{
    margin-bottom: 2.75rem;
    display: flex;
    align-items: center;
    gap: 1rem
}

.contact-section__wrapper__email-container__email{
}

.contact-section__wrapper__email-container__copy-button{
    width: 1.25rem;
}

.contact-section__wrapper__other-platforms-container{
    display: flex;
    gap: 2.5rem
}

@media (max-width: 42.5rem) {
    #contact-section .section-title {
        text-align: center;
    }

    .contact-section__wrapper__email-container{
        justify-content: center;
    }

    .contact-section__wrapper__email-container__email.text-1{
        font-size: 1.25rem;
    }

    .contact-section__wrapper__other-platforms-container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5rem
    }

    .contact-section__wrapper__other-platforms-container.button--large{
        padding: 0.25rem 1.25rem;
    }

    .button--large{
        padding: 0.25rem 1.25rem;
    }
}

@media (max-width: 30rem) {
    .contact-section__wrapper__email-container__email.text-1{
        font-size: 1rem;
    }

    .button--large.text-2{
        font-size: 1rem;
    }
}

/* TYPOGRAPHY */

.title {
    color: #000;
    /* title */
    font-family: "B612 Mono";
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.heading-1 {
    color: #000;
    /* heading */
    font-family: Lato;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

.text-1 {
    color: #000;

    /* text */
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.heading-2 {
    color: #000;

    /* heading-2 */
    font-family: Lato;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 133.333%;
}

.text-2 {
    color: #000;

    /* text-2 */
    font-family: Rubik;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.heading-3 {
    color: #000;

    /* heading-3 */
    font-family: Lato;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 133.333%;
}

.text-3 {
    color: #000;

    /* text-3 */
    font-family: Rubik;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.heading-4 {
    color: #000;

    /* heading-4 */
    font-family: Lato;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.text-4 {
    color: #000;

    /* text-4 */
    font-family: Rubik;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

@media (max-width: 60rem) {
    .title{
        font-size: 2.75rem;
    }
}