:root {
    /* Color styles */
    --light-mode-text: rgba(4, 3, 22, 1);
    --light-mode-background: rgba(251, 251, 249, 1);
    --light-mode-primary: rgba(39, 192, 54, 1);
    --light-mode-secondary: rgba(187, 238, 190, 1);
    --light-mode-accent: rgba(27, 126, 35, 1);
    --test-green: rgba(92, 209, 94, 1);
    --test-purple: rgba(188, 161, 254, 1);

    --experience-card-white: #FBFBF9;
    --experience-card-silver: #F1F2FA;

    /* Text-size styles */
    /* base size: text (32px) */
    --title: 4rem;
    --heading: 4rem;
    --text: 2rem;
    --heading-2: 3rem;
    --text-2: 1.75rem;
    --heading-3: 2.25rem;
    --text-3: 1.5rem;
    --text-4: 1.2rem;
    --text-hyper-link: 2rem;

    /* Effect styles */
    --background-gradient-blur-shadows: ;
    --background-gradient-blur-blur: blur(200px);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--light-mode-background);
}

main {
    margin: 0 12rem;
}

/* NAVBAR */

nav {
    position: absolute;
    top: 0;
    display: flex;
    height: 6rem;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 12rem;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.nav-logo {
    display: flex;
    width: 8rem;
    height: 8rem;
    justify-content: center;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.nav-content__menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.nav-content__menu-container__text {}

.nav-content__menu-container__button {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.nav-content__contact-button {}

/* HERO SECTION */

.hero-section{
    height: 100vh;
    min-height: 50rem;
    max-height: 70rem;
    position: relative;
}

.hero-section__name{
    position: absolute;
    top: 12rem;
    right: 0;
}

.hero-section__first-name{
    position: relative;
    right: 5.25rem;
}

.hero-section__surname{
    float: right;
}

.hero-section__text{
    position: absolute;
    width: 45rem;
    bottom: 10rem;
}

/* EXPERIENCE SECTION */
.experience-section{

}

.experience-section .section-title {
    margin-bottom: 6rem;
}

.experience-section__timeline{
    display: grid;
    grid-template-columns: 1fr 3.25rem 1fr;
    grid-auto-rows: auto;
}

.experience-section__timeline__line{
    width: 0.5rem;
    margin: 5rem 0;
    grid-row: 1 / span 100;
    grid-column: 2;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5rem;
    background-color: var(--light-mode-text);
}

.experience-section__timeline__line__dot{
    width: 1.25rem;
    aspect-ratio: 1;
    align-self: center;
    justify-self: center;
    border-radius: 100%;
    background-color: var(--light-mode-text);
}

.experience-card{
    width: 25rem;
    padding: 1.5rem;
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
}

.experience-card--left{
    align-items: flex-end;
    justify-self: end;
    grid-column: 1;
    background: linear-gradient(280deg, var(--experience-card-white) 0.54%, var(--experience-card-silver) 99.46%);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.experience-card--right{
    align-items: flex-start;
    grid-column: 3;
    background: linear-gradient(99deg, var(--experience-card-white) 0.54%, var(--experience-card-silver) 99.46%);
    box-shadow: -5px 5px 15px 0px rgba(0, 0, 0, 0.25);
}

.experience-card__date{
    display: inline-block;
    margin-bottom: 0.25rem;
}

.experience-card__text{

}

.section-title{

}

/* WORK SECTION */

.work-section{
}

.work-section__columns{
    display: flex;
}

.work-section__columns__column-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-section__columns__column-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-section__columns__column-1__text{
    margin-bottom: 6rem;
}

.project-card{
    width: 32rem;
    padding: 3.5rem;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    background: #FFF;
}

.project-card--left{
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.10), -5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.project-card--right{
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.10), 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

.project-card__img{
    width: 100%;
    border-radius: 1rem;
}

.project-card__title-container{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card__description{
    margin-top: 0.5rem;
}

.project-card__bottom-row{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-card__bottom-row__tag-container{
    display: flex;
    gap: 1rem;
}

.project-card__bottom-row__tag-container__tag{
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    border: 0.125rem solid #000;
}

.project-card__bottom-row__link__img{
    width: 2.5rem;
    height: 2.5rem;
    display: block;
}
.project-card__bottom-row__link__img{
    width: 100%;
}

/* SKILLS SECTION */
#skills-section{
    container-type: inline-size;
    container-name: skill-container;
}

#skills-section .section-title{
    margin-bottom: 6rem;
}

.skills-section__skill-container{
    margin: 0 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, auto));
    grid-auto-rows: auto;
    gap: 5rem;
    justify-items: center;
}

.skill-card{
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1;
    padding: 0 3rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: #ffffff;
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.10), 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

@container skill-container (max-width: 700px) {
    .skills-section__skill-container {
        margin: 0;
    }
  }
  

.skill-card__img{
    width: 100%;
}

.skill-card__description{

}

/* CONTACT SECTION */

#contact-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-section .section-title {
    margin-bottom: 4.5rem;
}

.contact-section__wrapper{

}

.contact-section__wrapper__email-container{
    margin-bottom: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1rem
}

.contact-section__wrapper__email-container__email{
}

.contact-section__wrapper__email-container__copy-button{
    width: 1.5rem;
}

.contact-section__wrapper__other-platforms-container{
    display: flex;
    gap: 3rem
}

/* TYPOGRAPHY */

.title {
    color: #000;
    /* title */
    font-family: "B612 Mono";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    /* 125% */
    line-height: 5rem;
}

.heading-1 {
    color: #000;
    /* heading */
    font-family: Lato;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    /* 125% */
    line-height: 5rem;
}

.text-1 {
    color: #000;

    /* text */
    font-family: Rubik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    /* 3rem */
    line-height: 150%;
}

.heading-2 {
    color: #000;

    /* heading-2 */
    font-family: Lato;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    /* 133.333% */
    line-height: 4rem;
}

.text-2 {
    color: #000;

    /* text-2 */
    font-family: Rubik;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    /* 2.625rem */
    line-height: 150%;
}

.heading-3 {
    color: #000;

    /* heading-3 */
    font-family: Lato;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    /* 133.333% */
    line-height: 3rem;
}

.text-3 {
    color: #000;

    /* text-3 */
    font-family: Rubik;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    /* 2.25rem */
    line-height: 150%;
}

.heading-4 {
    color: #000;

    /* heading-4 */
    font-family: Lato;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.text-4 {
    color: #000;

    /* text-4 */
    font-family: Rubik;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    /* 1.875rem */
    line-height: 150%;
}

/* REUSABLE COMPONENTS */

.button {
    display: flex;
    padding: 0.25rem 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    border: 0.125rem solid #000;
    background-color: var(--light-mode-background);
    text-decoration: none;
}

.button--large{
    display: flex;
    padding: 0.5rem 2.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    border: 0.125rem solid #000;
    background-color: var(--light-mode-background);
    text-decoration: none;
}